.toggle > input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.toggle > label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	background-color: #555;
}
